* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, var(--color-light-blue), var(--color-white));
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh; 
}