:root {
  --color-black: #000;
  --color-cyan-green: #3aaa74;
  --color-dark-blue: #036;
  --color-green: #00bf63;
  --color-intense-blue: #0056b3;
  --color-light-blue: #66a3e0;
  --color-light-gray: #f5f5f5;
  --color-light-sky-blue: #09c5ff;
  --color-light-turquoise: #00ffe1;
  --color-lime-green: #8cff00;
  --color-medium-blue: #0d4f83;
  --color-mustard-yellow: #fecf12;
  --color-vibrant-pink: #fb3997;
  --color-white: #fff;
  --font-primary: "Poppins", serif, arial, helvetica, sans-serif;

  font-size: 62.5%;
}
