.digitalcard-share {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
	width: 100%;
}

.digitalshare-area {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.digitalcardshare-btn {
	align-items: center;
	background: linear-gradient(
		-45deg,
		var(--color-dark-blue),
		var(--color-light-sky-blue)
	);
	border-radius: 50%;
	box-shadow: 0 1rem 1rem rgb(0 0 0 / 20%);
	cursor: pointer;
	display: flex;
	height: 9rem;
	justify-content: center;
	transition: all 0.2s ease-in-out;
	width: 9rem;

	&:hover {
		background: linear-gradient(
			-45deg,
			var(--color-light-sky-blue),
			var(--color-dark-blue)
		);
		box-shadow: 0 1.5rem 2rem rgb(0 0 0 / 30%);
		transform: scale(1.1);
	}

	&:active {
		box-shadow: 0 2rem 5rem rgb(0 0 0 / 20%);
		transform: translateY(1rem);
	}
}

.digitalcardshare-imageiconinstagram {
	height: 8.5rem;
	width: 8.5rem;
}

.digitalcardshare-imageiconoestego {
	border-radius: 50%;
	height: 7rem;
	width: 7rem;
}

.digitalcardshare-imageiconfacebook {
	height: 7rem;
	width: 7rem;
}
