.digitalcard-share {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.digitalcardshare-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--color-medium-blue);
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.digitalcardshare-btn:active {
    transform: translateY(2px);
    box-shadow: 0 0.3rem 8rem rgba(0, 0, 0, 0.4);
}

.digitalcardshare-btn:hover {
    background-color: var(--color-intense-blue);
}

.digitalcardshare-imageiconinstagram {
    width: 5rem;
    height: 5rem;
}

.digitalcardshare-linkstitle {
    display: flex;
    justify-content: center;
    font-weight: 500;
}


.digitalcardshare-downloadplatform {
    padding: 2rem;
    display: none;
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 2rem 1rem  rgba(102, 163, 224, 0.5);
    width: 80%;
    max-width: 50rem;
    height: auto;
    position: fixed;
    background: linear-gradient(150deg, var(--color-light-blue), var(--color-white));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.digitalcardshare-platformlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.digitalcardshare-btndownload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    width: 95%;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.digitalcardshare-btndownload:active {
    transform: translateY(2px);
    box-shadow: 0 0.3rem 8rem rgba(0, 0, 0, 0.4);
}

.digitalcardshare-btndownload:hover {
    background-color: var(--color-light-blue);
}

.digitalcardshare-imageiconapple {
    width: 6rem;
    height: 6rem;
    margin-right: 5rem;
}

.digitalcardshare-textapple {
    font-weight: 500;
    font-size: 2rem;
    width: 12rem;
    color: var(--color-black);
    margin-right: 1rem;
}

.digitalcardshare-imageicongoogleplay {
    width: 5rem;
    height: 5rem;
}

.digitalcardshare-textgoogleplay {
    font-weight: 500;
    font-size: 2rem;
    width: 12rem;
    
    color: var(--color-black);
}

:is(.digitalcardshare-textapple, .digitalcardshare-textgoogleplay):hover {
    color: var(--color-white);
}

.digitalcardshare--btnoestego {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--color-medium-blue);
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.digitalcardshare--btnoestego:active {
    transform: translateY(2px);
    box-shadow: 0 0.3rem 8rem rgba(0, 0, 0, 0.4);
}

.digitalcardshare--btnoestego:hover {
    background-color: var(--color-light-blue);
}

.digitalcardshare-imageiconoestego {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.digitalcardshare-imageiconfacebook {
    width: 5rem;
    height: 5rem;
}