.digitalcard-footer {
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-top: 2rem;
	width: 80%;
}

.digitalcardfooter-areainfor {
	align-items: center;
	background-color: var(--color-dark-blue);
	border-radius: 2rem;
	display: flex;
	height: 5rem;
	justify-content: center;
}

.digitalcardfooter-info {
	color: var(--color-white);
	font-size: 2rem;
	margin-right: 2rem;
}

.digitalcardfooter-imageiconclick {
	height: 4rem;
	vertical-align: middle;
	width: 4rem;
}
