.digitalcard-profile {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.digitalcardprofile-imagegradientprofile {
	align-items: center;
	background: linear-gradient(
		-45deg,
		var(--color-dark-blue),
		var(--color-light-sky-blue)
	);
	border-radius: 50%;
	box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
	display: flex;
	height: 10rem;
	justify-content: center;
	width: 10rem;

	& .digitalcardprofile-userphoto {
		border-radius: 50%;
		height: 8rem;
		width: 8rem;
	}
}

.digitalcardprofile-title {
	color: var(--color-white);
	font-size: 3rem;
	font-weight: 500;
	line-height: 2rem;
	margin-top: 0.5rem;
}

.digitalcardprofile-subtitle {
	color: var(--color-white);
	font-size: 1.9rem;
	font-weight: 500;
}

.digitalcardprofile-btnwhatsaap {
	align-items: center;
	background-color: var(--color-green);
	border-radius: 2rem;
	box-shadow: 0 1rem 1rem rgb(0 0 0 / 20%);
	color: var(--color-white);
	display: flex;
	font-size: 2rem;
	font-weight: 500;
	gap: 2rem;
	height: 4rem;
	justify-content: center;
	transition: all 0.2s ease-in-out;
	width: 30rem;

	&:active {
		box-shadow: 0 2rem 5rem rgb(0 0 0 / 20%);
		transform: translateY(1rem);
	}

	&:hover {
		background-color: var(--color-cyan-green);
		box-shadow: 0 1.5rem 2rem rgb(0 0 0 / 30%);
		transform: scale(1.1);
	}

	& .digitalcardprofile-imageiconwhatsaap {
		height: 3rem;
		width: 3rem;
	}
}
