.digitalcard-footer {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-blue);
    height: 4.4rem;
    margin: 0 auto;
    border-radius: 1rem;
}


.digitalcardfooter-info {
    font-weight: 500;
    color: var(--color-white);
    font-size: 2rem;
    margin-right: 1rem;
}

.digitalcardfooter-areainfor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.digitalcardfooter-imageiconclick {
    vertical-align: middle;
    max-width: 30px;
}